.App {
  text-align: center;
}
h1{
  color: #ccc3c3;
}
h4{
  color: #ddd2d2;
}
.header{
background-color: rgb(71, 10, 10);
}

.App-link {
  color: #61dafb;
}

.container{
  background-color: rgb(24, 59, 102);
  
}
label{
  font-size:30px;
  color: #FFFFFF;
  }

.form-control{
 border-color: #FFFFFF #327CB5 #327CB5 #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 3px #333333;
  }